.block-desc {
    @media screen and (max-width: 1366px) {
        font-size: 14px;
    }
    @media screen and (max-width: 760px) {
        font-size: 12px;
    }
    &.bold {
        font-weight: bold;
    }
}