.cookies {
    background-color: #e8e8e8;
    @media screen and (max-width: 760px) {
        margin-top: 38px;
        background-color: #fff;
    }
    @media screen and (max-width: 470px) {
        margin-top: 45px;
    }
    &__link {
        color: #909090;
        text-decoration: none;
        @media screen and (max-width: 470px) {
            font-size: 13px;
        }
        &:hover {
            text-decoration: underline;
        }
        &:last-child {
            color: #000;
        }
    }
}