.information {
    border-spacing: 15px;
    width: 100%;
    @media screen and (max-width: 900px) {
        border-spacing: 8px;
    }
    @media screen and (max-width: 470px) {
        display: none;
    }
    &.mobile {
        display: none;
        @media screen and (max-width: 470px) {
            display: block;
            border-spacing: 5px;
            &.design {
                td {
                    &.title {
                        text-transform: none;
                        &.uppercase {
                            text-transform: uppercase;
                        }
                    }
                    &.blue {
                        background-color: #1253c0;
                        color: #fff;
                        font-family: Circe-ExtraBold;
                    }
                }
            }
            th {
                &:first-child {
                    background-color: #1253c0;
                }
                &:last-child {
                    outline: none;
                }
            }
            td {
                height: 30px;
                &:first-child {
                    color: #1253c0;
                    text-align: center;
                    font-family: Circe-ExtraBold;
                }
                &:last-child {
                    outline: none;
                    background: transparent;
                }
                &.title {
                    border: none;
                    text-transform: uppercase;
                    font-family: Circe-ExtraBold;
                    text-align: center;
                    color: #000;
                }
                &.grey {
                    color: #000;
                    background-color: #e8e8e8;
                    &:first-child {
                        text-transform: none;
                    }
                }
                &.red {
                    color: #fff;
                    background-color: #ba0b0b;
                    font-family: Circe-ExtraBold;
                }
            }
        }
    }
    th {
        background-color: #1253c0;
        color: #fff;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 14px;
        width: 240px;
        padding: 13px 0;
        @media screen and (max-width: 900px) {
            font-size: 12px;
        }
        &:first-child {
            background-color: #f3f3f3;
            border-left: none;
        }
        &:last-child {
            border-right: none;
            outline: 8px solid #f3f3f3;
        }
    }
    td {
        text-align: center;
        color: #1253c0;
        font-weight: bold;
        border: 1px solid #e8e8e8;
        height: 60px;
        padding: 0 15px;
        font-size: 22px;
        @media screen and (max-width: 900px) {
            // width: auto;
            font-size: 12px;
        }
        &:first-child {
            text-align: left;
            color: #000;
            font-weight: normal;
            font-size: 16px;
            @media screen and (max-width: 900px) {
                // width: auto;
                font-size: 12px;
            }
        }
        &:last-child {
            outline: 8px solid #f3f3f3;
            background-color: #f3f3f3;
        }
        &.grey {
            background-color: #f3f3f3;
            border: 1px solid #f3f3f3;
            color: #000;
            font-size: 16px;
            @media screen and (max-width: 900px) {
                // width: auto;
                font-size: 12px;
            }
            &:first-child {
                text-transform: uppercase;
            }
        }
        &.blue {
            background-color: #1253c0;
            color: #fff;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: normal;
            @media screen and (max-width: 900px) {
                // width: auto;
                font-size: 12px;
            }
        }
        &.red {
            background-color: #ba0b0b;
            border: none;
            &:hover {
                background-color: darken(#ba0b0b, 5);
            }
            &:last-child {
                outline: none;
            }
        }
        &.transparent {
            border: transparent;
        }
    }
    &__order {
        font-size: 16px;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: normal;
        display: flex;
        height: 60px;
        justify-content: center;
        align-items: center;
        background-color: #ba0b0b;
        @media screen and (max-width: 470px) {
            height: 30px;
            font-size: 12px;
        }
        &:hover {
            background-color: darken(#ba0b0b, 5);
        }
        &.short {
            width: 240px;
            margin: 20px 0;
            @media screen and (max-width: 470px) {
                width: 100%;
            }
        }
    }
    &__notice {
        font-size: 14px;
        @media screen and (max-width: 470px) {
            font-size: 10px;
        }
        &.bold {
            font-family: Circe-ExtraBold;
        }
    }
}
.information-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    @media screen and (max-width: 760px) {
        flex-direction: column;
        margin-top: 30px;
    }
    &__img, &__desc {
        width: 48%;
        @media screen and (max-width: 760px) {
            width: 100%;
        }
    }
    &__desc {
        @media screen and (max-width: 760px) {
            margin-top: 20px;
        }
    }
    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 100%;
        }
        &.gallery-main-photo {
            img {
                width: 90%;
                @media screen and (max-width: 760px) {
                    width: 50%;
                }
                @media screen and (max-width: 470px) {
                    width: 100%;
                }
            }
        }
    }
}

.information {
    &.prices {
        width: 100%;
        &.mobile {
            display: none;
            @media screen and (max-width: 470px) {
                display: block;
            }
            th {
                width: 100%;
            }
            td {
                color: #000;
                &.title {
                    text-transform: none;
                    color: #909090;
                }
            }
        }
        th {
            background-color: #1253c0;
            color: #fff;
            text-transform: uppercase;
            font-weight: normal;
            font-size: 14px;
            width: 240px;
            padding: 13px 10px;
            &:first-child {
                background-color: #1253c0;
            }
            &:last-child {
                border-right: none;
                outline: none;
            }
        }
        td {
            text-align: center;
            color: #909090;
            font-size: 16px;
            font-family: Circe-ExtraBold;
            border: 2px solid #e8e8e8;
            &:last-child {
                outline: none;
                background-color: transparent;
            }
        }
        &.metal {
            td {
                width: 50%;
            }
        }
        &.number {
            td {
                &:first-child {
                    width: 6%;
                }
                &:nth-child(2) {
                    text-align: left;
                }
            }
        }
    }
}

.information {
    &.simmetry {
        td {
            width: 50%;
            background-color: #1253c0;
            color: #fff;
            font-family: Circe;
            border: none;
            &:last-child {
                background-color: #1253c0;
                font-weight: normal;
            }
        }
        &.mobile {
            td {
                background-color: #fff;
                border: 2px solid #e8e8e8;
            }
        }
    }
}