.reasons {
    padding: 35px 35px 35px 15px;
    background-color: #f3f3f3;
    @media screen and (max-width: 470px) {
        padding: 15px;
    }
    &__wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        @media screen and (max-width: 470px) {
            flex-direction: column;
        }
        .reasons {
            width: 44%;
            @media screen and (max-width: 470px) {
                width: 100%;
                margin-top: 15px;
                box-sizing: border-box;
            }
        }
        .block-subtitle {
            margin-top: 0;
        }
    }
    &__list {
        padding-left: 15px;
        margin: 0;
    }
    &__item {
        color: #1354c0;
        @media screen and (max-width: 470px) {
            line-height: 1;
        }
        span {
            color: #000;
            font-size: 14px;
            @media screen and (max-width: 470px) {
                font-size: 12px;
            }
        }
    }
}