@font-face {
  font-family: 'Circe';
  src: url('assets/fonts/Circe.eot') format('eot'),
  url('assets/fonts/Circe-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Circe-ExtraBold';
  src: url('assets/fonts/Circe-ExtraBold.eot') format('eot'),
  url('assets/fonts/Circe-ExtraBold.woff') format('woff');
}