@font-face {
  font-family: 'Circe';
  src: url('assets/fonts/Circe.eot') format('eot'),
  url('assets/fonts/Circe-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Circe-Bold';
  src: url('assets/fonts/Circe-Bold.eot') format('eot'),
  url('assets/fonts/Circe-Bold.woff') format('woff');
}